.page.theme_dark {
  --bg-color:  #000028;
  --title-color: #000028;
  --inverse-color: #DB00FF;
  --accent-color: #FF0070;
  --text-color:#F1B2CE;
  --decor-title-color: #000028; 
  --decor-zone-color: #FF0070;
}

@media (width < 768px) {
  .page.theme_dark.rec::before {
    content: "REC";
  }
  
  .page.theme_dark.rec::after {
    background-color: currentColor;
    content: "";
    block-size: var(--indent, 10px);
    inline-size: var(--indent, 10px);
    border-radius: 50%;
    margin-inline-start: var(--indent, 10px);
    box-shadow: 0 0 4px 2px currentColor;
  }
}