.page.theme_dark {
  --bg-color:  #000028;
  --inverse-color: #DB00FF;
  --title-color: #000028;
  --text-color:#F1B2CE;
  --accent-color: #FF0070;
  --decor-title-color: #000028; 
  --decor-zone-color: #FF0070;
}