.page.theme_light {
  /* colors */
  --bg-color: #FFF1F7;
  --title-color: #353430;
  --inverse-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color:#353430;
  --decor-title-color:#353430; 
  --decor-zone-color: #353430;
  /* background image links */
  --cover-image-tablet: url(../images/cover-image-light.png);
  --cover-image-desktop: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    /* colors */
    --bg-color: #FFF1F7;
    --title-color: #353430;
    --inverse-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --text-color:#353430;
    --decor-title-color:#353430; 
    --decor-zone-color: #353430;
    /* background image links */
    --cover-image-tablet: url(../images/cover-image-light.png);
    --cover-image-desktop: url(../images/cover-image-light.png);  
    }
}